# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.stampver.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\SourceCode\MySourceCode\StampVer\src\.idea\.idea.stampver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
